.button,
.danger {
    color: var(--button-text);
    background: var(--button-bgc);
    padding: 18px 0;
    outline: 0;
    border: 1px solid var(--button-bgc);
    border-radius: var(--button-radius);
    box-shadow: var(--button-box-shadow);
    &:active {
        span {
            content: "";
            position: absolute;
            top: -8px;
            left: -8px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.2);
            animation: move 2s linear;
        }
    }
}
.danger {
    border: 1px solid var(--button-danger-bgc);
    background: var(--button-danger-bgc);
}

@keyframes move {
    0% {
        transform: scale(100);
    }
    100% {
        transform: scale(1000);
    }
}
