.button{
    color: var(--button-text);
    background: var(--button-bgc);
    padding: 18px 0;
    outline: 0;
    border: 1px solid var(--button-bgc);
    border-radius: var(--button-radius);
    box-shadow: var(--button-box-shadow);
}