:root {
    --button-active-bgc: #e5e5e5;
    --button-bgc: #5c33be;
    --button-danger-bgc: #f00;
    --button-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    --button-radius: 8px;
    --button-text: #fff;
    --digit-btn-border-color: #dddddd;
    --digit-btn-height: 56px;
    --font-color1: #fff;
    --font-color2: #cea1ff;
    --font-color2: #d4d4ee;
    --font-color3: #000;
    --font-color4: #333333;
    --gray-font-color: #999999;
    --input-color: #0b5e02;
    --color2: #53a867;
    --nav-bar-bgc: linear-gradient(180deg, #5c33be 0%, #8f4cd7 100%);
    --nav-bar-height: 89px;
    --nav-bgc: #ffffff;
    --nav-text: #ffffff;
    --overlay-safe-left: 16px;
    --overlay-safe-top: 26px;
    --overlay-top-bgc: #5c33be;
    --theme-color: #5d34bf;
    --welcom-bg-end: #8d4bd6;
    --welcom-bg: linear-gradient(to bottom, #5d34bf 0%, #8d4bd6 100%);
    --welcom-middle-padding-top: 139px;
    --welcom-nav-color: #5d34bf;
    --welcom-wrapper-bg: #fff;
    --error-color: #ff0b0b;
    --bill-board-bgc: #252a43;
}
