:root { 
    --welcom-bg:linear-gradient(to bottom ,#5d34bf 0%, #8d4bd6 100%);
    --font-color1:#fff; 
    --font-color2:#D4D4EE;
    --font-color3:#000;
    --welcom-wrapper-bg:#fff;
    --welcom-nav-color:#5d34bf;
    --welcom-bg-end:#8d4bd6;
    --welcom-middle-padding-top:139px;
    --button-bgc:#5C33BE;
    --button-text:#fff;
    --button-radius:8px;
    --button-box-shadow:inset 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    --nav-bar-bgc: linear-gradient(180deg, #5C33BE 0%, #8F4CD7 100%);
    --nav-bar-height:89px;
    --nav-text:#ffffff;
}