:root {
    --theme-color: #5d34bf;
    --welcom-bg: linear-gradient(to bottom, #5d34bf 0%, #8d4bd6 100%);
    --font-color1: #fff;
    --font-color2: #d4d4ee;
    --font-color3: #000;
    --welcom-wrapper-bg: #fff;
    --welcom-nav-color: #5d34bf;
    --welcom-bg-end: #8d4bd6;
    --welcom-middle-padding-top: 139px;
    --button-bgc: #5c33be;
    --button-text: #fff;
    --button-radius: 8px;
    --button-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.16);
    --nav-bar-bgc: linear-gradient(180deg, #5c33be 0%, #8f4cd7 100%);
    --nav-bar-height: 89px;
    --nav-text: #ffffff;
    --font-color2: #cea1ff;
    --overlay-top-bgc: #5c33be;
    --overlay-safe-top: 26px;
    --overlay-safe-left: 16px;
    --nav-bgc: #ffffff;
    --digit-btn-height: 56px;
    --digit-btn-border-color: #dddddd;
}
