.navBarWrapper {
    width: 100%;
    height: var(--nav-bar-height);
    background: var(--nav-bar-bgc);
    color: var(--nav-text);
    display: flex;
    align-items: flex-end;
    padding-bottom: 14px;
    padding-left: 25px;
}
.icon {
    display: inline-block;
    width: 27px;
    img {
        width: 100%;
        max-height: 100%;
    }
}
.title {
    margin-left: 22px;
    font-size: 24px;
}
