.numKeyboard {
    width: 100%;
    button {
        outline: none;
        border: none;
        background: transparent;
        font-size: 16px;
    }
}
.BoardTop {
    width: 100%;
    height: 56px;
    display: flex;
    border-top: 1px solid var(--digit-btn-border-color);
    border-bottom: 1px solid var(--digit-btn-border-color);
    section {
        width: 50%;
        display: flex;
        align-items: center;
        padding: 0 18px;
        overflow: hidden;
        img {
            width: 32px;
        }
        .curday {
            margin-left: 14px;
            color: var(--gray-font-color);
        }
        input {
            height: 100%;
            width: 100%;
            outline: none;
            border: 0;
            text-align: right;
            background: none;
            color: var(--input-color);
            font-size: 20px;
            font-weight: bold;
        }
    }
}

.digitWrapper {
    width: 100%;
    display: flex;
}
.numberBox {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    button {
        font-size: 16px;
        height: var(--digit-btn-height);
        width: 33.333%;
        border-right: 1px solid var(--digit-btn-border-color);
        border-bottom: 1px solid var(--digit-btn-border-color);
    }
}
.digitFooter {
    width: 100%;
    button:nth-of-type(1) {
        width: 66.666%;
    }
    button {
        border-bottom: none;
    }
}

.rightBox {
    width: 110px;
    height: 100%;
    display: flex;
    flex-direction: column;
    button {
        height: calc(var(--digit-btn-height) * 2);
        width: 100%;
        &:nth-of-type(1) {
            border-bottom: 1px solid var(--digit-btn-border-color);
        }
    }
}

button {
    position: relative;
    overflow: hidden;
    &:active {
        color: var(--input-color);
        &::after {
            position: absolute;
            width: 1%;
            height: 1%;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            content: "";
            display: block;
            pointer-events: none;
            animation: animate 1s linear infinite;
            background: var(--button-active-bgc);
        }
    }
}
@keyframes animate {
    0% {
        transform: scale(8);
        opacity: 1;
    }

    50% {
        width: 50%;
        height: 50%;
        transform: scale(20);
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}
