.numKeyboard {
    width: 100%;
    height: 280px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
    button {
        outline: none;
        border: none;
        background: transparent;
        font-size: 16px;
        position: relative;
        overflow: hidden;
        span {
            position: absolute;
            left: 0;
            top: 0;
            background: var(--button-active-bgc);
            // transform: translate(-50%, -50%);
        }
        &:active {
            span {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                // width: 4px;
                // height: 4px;
                // border-radius: 50%;
                animation: animate 2s;
                // background: var(--button-active-bgc);
            }
        }
    }
    .submitBtn {
        background: var(--button-bgc);
        color: var(--font-color1);
    }
}
.BoardTop {
    width: 100%;
    height: 56px;
    display: flex;
    border-top: 1px solid var(--digit-btn-border-color);
    border-bottom: 1px solid var(--digit-btn-border-color);
    section {
        width: 50%;
        display: flex;
        align-items: center;
        padding: 0 18px;
        overflow: hidden;
        img {
            width: 22px;
        }
        .curday {
            margin-left: 14px;
            color: var(--gray-font-color);
        }
        input {
            height: 100%;
            width: 100%;
            outline: none;
            border: 0;
            text-align: right;
            background: none;
            color: var(--input-color);
            font-size: 20px;
            font-weight: bold;
            padding-right: 2px;
        }
    }
}

.digitWrapper {
    width: 100%;
    display: flex;
}
.numberBox {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    button {
        font-size: 16px;
        height: var(--digit-btn-height);
        width: 33.333%;
        border-right: 1px solid var(--digit-btn-border-color);
        border-bottom: 1px solid var(--digit-btn-border-color);
    }
}
.digitFooter {
    width: 100%;
    button:nth-of-type(1) {
        width: 66.666%;
    }
    button {
        border-bottom: none;
    }
}

.rightBox {
    width: 110px;
    height: 100%;
    display: flex;
    flex-direction: column;
    button {
        height: calc(var(--digit-btn-height) * 2);
        width: 100%;
        &:nth-of-type(1) {
            border-bottom: 1px solid var(--digit-btn-border-color);
        }
    }
}

// @keyframes animate {
//     0% {
//         transform: scale(10);
//         opacity: 1;
//     }

//     50% {
//         width: 50%;
//         height: 50%;
//         transform: scale(50);
//         opacity: 0.5;
//     }

//     100% {
//         transform: scale(100);
//         opacity: 0;
//     }
// }
@keyframes animate {
    0% {
        transform: scale(100);
    }
    100% {
        transform: scale(1000);
    }
}
