.middle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding-top: var(--welcom-middle-padding-top);
    overflow: auto; 
    >p{
        width: 100%;
        font-size: 26px;
        color: var(--font-color3);
        text-align: center;
    }
    >p:nth-of-type(1){
        margin-top: 52px;
    }
    >a{
       text-decoration: none; 
       font-size: 32px;
       color: var(--welcom-nav-color);
       margin-top:81px;
       margin-bottom: 123px;
    }
}